@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Lato;
}

#subtitles {
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.25rem .5rem;
    font-size: small;
    width: 80%;
    max-width: 300px;
}

#message-box {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 90vw;
    max-width: 340px;
    display: flex;
    height: 2rem;
    align-items: center;
}

#message-box textarea {
    width: 80vw;
    max-width: 300px;
    border-radius: 5px;
    border: solid .5px black;
    height: 1.5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    overflow: auto;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.5);
}

#message-box textarea::-webkit-scrollbar {
    display: none;
}

#message-box textarea:focus {
    outline: none;
}

#message-box button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
}

#message-box button:hover {
    transform: scale(1.1);
}

.mic-btn {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.mic-btn:hover {
    border: solid 1px blue;
    color: blue;
}

.mic-active {
    border: solid 1px rgb(155, 0, 0);
    color: red;
}




